:root{
    --white : #FAFAFA;
    --navy: #2C3E50;
    --charcoal:  #2C3E50;
    --light-charcoal: #476481;
    --red: rgb(164, 22, 22);
    --blue: rgb(33, 89, 154);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--charcoal);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--navy);
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav{
    background-color: var(--navy);
    top: 0;
    width: 100%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
nav ul{
    background-color: transparent;
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style-type: none ;
    margin-bottom: 0;
}

header nav a {
    color: white;
    margin-right: 1.4em;
    text-decoration: none;
    font-size: 1.3em;
}

header nav a:hover {
    color: var(--red);  
}


#logo{
    width: 5.4%;
    height: 5.4%;
    margin-left: 3%;
    margin-top: 0;
    margin-bottom: 0;
}

#preloader{
    position:fixed;
    z-index:100;
    width: 100vw;
    height: 100vh;
    background-image:url("assets/preloader.gif") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.contact_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.align_button{
    display: flex;
    justify-content: center;
}

#send_button{
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 2em;
    border: none;
    border-radius: 20px;
    background-color: var(--light-charcoal);
}

#send_button:hover{
    color: var(--charcoal);
    background-color: transparent;
    transition: 0.5s;
    border-color: var(--charcoal);
    border-width: 1px;
    border-style: ridge;
}

#name{
    background-color: var(--light-charcoal);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    margin:0.3em;
    height: 1.6em;
    width: 15em;
    padding: 20px;
}
#email{
    background-color: var(--light-charcoal);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    margin: 0.3em;
    height: 1.6em;
    width: 15em;
    padding: 20px;
}

#message{
    background-color: var(--light-charcoal);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    margin: 10px;
    height: 10em;
    width: 30.6em;
    padding: 20px;
}

.align_about_items{
    font-style: inherit;
    font-size: 1.6em;
    line-height: 1.3em;
    margin: 2.2em;
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}
#about_img{
    width: 40vw;
    height: 80vh;
    border-radius: 15px;
    margin-left: 1.4em;
}
#about_txt{
    margin-right: 1.4em;
}
#about_title{
    text-align: center;
    margin-bottom: 1em;
}

footer {
    margin-top: 20px;
    background-color: var(--navy);
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1.4em;
}





@media only screen and (max-width: 450px){
    body{
        width: 100vw;
    }
    nav{
        width: 100vw;
        padding-left: 6px;
        padding-right: 6px;
        justify-content: flex-start;
    }
    header nav a{
        font-size: 8px;
        margin-left: 14px;
        margin-right: 2px;
    }
    #logo{
        width: 30px;
        height: 30px;
        margin-right: 2px;
    }

    .contact_container{
        margin-left: 1.8em;
        margin-right: 1em;
        margin-top: 8%;
    }
    
    #send_button{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 12px;
        margin-top: 1px;
        font-size: 14px;
    }
    
    #name{
        font-size: 14px;
        border: none;
        border-radius: 10px;
        margin-right:0.1em;
        margin-bottom: 0;
        height: 2em;
        width: 44%;
        padding: 6px;
    }
    #email{
        font-size: 14px;
        border: none;
        border-radius: 10px;
        margin-left:0.1em;
        margin-bottom: 0;
        height: 2em;
        width: 44%;
        padding: 6px;
    }
    
    #message{
        font-size:14px;
        border-radius: 10px;
        margin: 1px;
        height: 10vh;
        width: 90%;
        padding: 6px;
    }
    
    .align_about_items{
        font-size: 14px;
        width: 90vw;
        line-height: 1.3em;
        margin: 1em;
        margin-top: 2em;
        justify-content: flex-start;
    }
    #about_img{
        display: none;
        width: 0vw;
        height: 0vh;
        margin: 0;
    }
    #about_txt{
        margin: 0;
    }
    #about_title{
        text-align: center;
        margin-bottom: 0.6em;
    }

    footer {
        width: 100vw;
    }
    footer p{
        font-size: 12px;
        line-height: 18px;
        margin-right: 4px;
        margin-left: 4px;
    }
}